.DS_Store

.env
.env.*
!.env*.example

/node_modules
/server/node_modules
/client/node_modules

.niuma-local/dialog-trigger.js
.niuma-local/port_1ffd91cb89.txt
.niuma-local/last_response.md
.niuma-local/stats.json
.niuma-local/history/2026-02-17_16-19-11.md
.niuma-local/

server/database.sqlite
server/backend.log
